* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url("../fonts/BebasNeueBook.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  }

.body {
  font-family: "Noto Sans", serif;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.container-white {
  max-width: 90rem;
  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 5.875rem;
  position: fixed;
  left: 0;
  top: 0;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  z-index: 2;
  width: 100%;
  transition: background-color 0.2s, height 0.2s;
}

.logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}

.navbar-light {
  background: #fff;
  color: rgb(41, 45, 51);
  height: 4.625rem;
}

.navbar-light .header-logo-path {
  fill: rgb(41, 45, 51);
}

.header {
  padding: 5.875rem;
  min-height: 100vh;
}

.header-image {
  background-image: url("../img/header_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 45, 51, 0.75);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0px 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}

.header-nav-item:not(:last-child) {
margin-right: 3%;
}

.header-nav-link {
  text-decoration: none;
  font-size: 1.125rem;
  
  color: inherit;
  letter-spacing: .0056rem;
}

.header-phone {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: .625rem;
  margin-right: 1.5625rem;
}

.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  padding: 1.5625rem 1.25rem 1.5625rem;
}

.button {
font-size: 18px;
font-weight: 600;
line-height: 160%;
color: #ffffff;
background: rgb(58, 113, 209);

padding: 1.5625rem 3.9375rem;
border: none;
display: inline-block;
cursor: pointer;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 2rem;
}

.header-button {
  height: 100%;
}

.seporator {
  background: rgb(92, 142, 230);
  width: 9.375rem;
  height: 2px;
}
 .header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
 }

 .header-title {
  max-width: 67.5rem;
  font-family: 'Bebas Neue Book';
  font-size: 5rem;
  line-height: 120%;
  margin: 1.375rem 0;
  letter-spacing: 0.8px;
  word-spacing: -1.8px;
 }

 .header-text {
  max-width: 45rem;
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 143%;
  margin-bottom: 3rem;
  margin-top: 2.5rem;
  letter-spacing: 0.4px;
 }

 .header-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #fff;
  position: relative;
 }

 .header-features-item {
  max-width: 18rem;
  padding: 1.875rem 3.125rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
 }

 .header-features-item:not(:last-child) {
  border-right: none;
 }

 .header-button {
  padding: 1.5rem 4rem;
 }

 .header-features-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0;
 }

 .section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
 }

 .section-light {
  margin-top: 1.75rem;
  margin-bottom: 9.375rem;
 }
 .section-title {
  font-family: 'Bebas Neue Book';
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 120%;
  color: rgb(41, 45, 51);
  margin-top: 1.5625rem;
 }

 .steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;

 }

 .steps-item {
  min-width: 20.625rem;
 }

 .steps-num {
  font-family: 'Bebas Neue Book';
  color: rgb(92, 142, 230);
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  align-items: center;
 }

 .steps-num:after {
  content: "";
  height: 1px;
  background: rgb(235, 235, 240);
  width: 100%;
  margin-left: 1.875rem;
 }

 .steps-title {
  color: rgb(41, 45, 51);
  font-family: Noto Sans;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 2.3125rem;
  margin-bottom: .625rem;
 }

 .steps-text {
  color: rgb(130, 138, 153);
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: .625rem;
  margin-bottom: 1.25rem;
  letter-spacing: 1.3px;
  word-spacing: -0.99px;
 }

 .steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(92, 142, 230);
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
 }

 .steps-link::before {
  content: "";
  width: 2.5rem;
  height: 1px;
  background: rgb(92, 142, 230);
  margin-right: 1.25rem;
 }

 @media (max-width: 1600px) {
  html {
    font-size: 14px;
  }
  
  
  

 }