* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url("../fonts/BebasNeueBook.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  }

.body {
  font-family: "Noto Sans", serif;
}

.mobile-menu {
  display: none;
}

.container {
  margin: auto;
  max-width: 88rem;
  /*max-width: 90rem;
  margin: auto;
  margin-left: 9.0625rem;*/
}


.container-white {
  margin: auto;
  max-width: 88rem;
  /*margin-left: 14.375rem;*/
}
 

.navbar {
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 5.875rem;
  position: fixed;
  left: 0;
  top: 0;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  z-index: 2;
  width: 100%;
  transition: background-color 0.2s, height 0.2s;
}

.logo {
  display: none;
}

.logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}

.navbar-light {
  background: #fff;
  color: rgb(41, 45, 51);
  height: 4.625rem;
}

.phone-icon {
  fill: #5C8EE6;
}

.navbar-light .header-logo-path {
  fill: rgb(41, 45, 51);
}

.header {
  padding: 5.875rem;
  
}

.header-image {
  background-image: url("../img/header_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 45, 51, 0.75);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0px 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;

  flex-grow: 1;
  height: 100%;
}

.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-nav-item:not(:last-child) {
margin-right: 4%;
}

.header-nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.125rem;
  /*margin-right: 3.125rem;*/
  color: inherit;
  letter-spacing: .0056rem;
  position: relative;
}

.header-nav-link:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #5c8ee6;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.header-nav-link:hover::after {
  transform: scaleX(1);
}

.header-phone {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: .625rem;
  margin-right: 1.5625rem;
}

.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  padding: 1.5625rem 1.25rem 1.5625rem;
}

.button {
font-size: 1.125rem;
font-weight: 600;
line-height: 160%;
color: #ffffff;
background: rgb(58, 113, 209);

padding: 1.5625rem 3.9375rem;
border: none;
display: inline-block;
cursor: pointer;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 2rem;
}

.navbar-button .button-icon {
  display: none;
}

.header-button {
  height: 100%;
}

.seporator {
  background: rgb(92, 142, 230);
  width: 9.375rem;
  height: 2px;
}
 .header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
 }

 .header-title {
  max-width: 67.5rem;
  font-family: 'Bebas Neue Book';
  font-size: 5rem;
  line-height: 120%;
  margin: 1.375rem 0;
  letter-spacing: 0.8px;
  word-spacing: -1.8px;
 }

 .header-text {
  max-width: 45rem;
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 143%;
  margin-bottom: 3rem;
  margin-top: 2.5rem;
  letter-spacing: 0.4px;
 }

 .header-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #fff;
  position: relative;
 }

 .header-features-item {
  height: auto;
  width: 18rem;
  padding: 1.875rem 3.125rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
 }

 .slider-buttons {
  display: none;
  height: 44px;
 }
 .slider-button-prev,
 .slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 }

 /*.header-features-item:not(:last-child) {
  border-right: none;
 }*/

 .header-button {
  padding: 1.5rem 4rem;
 }

 .header-features-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0;
 }

 .section {
  padding: 2.399rem 5.875rem 0 5.875rem;

  
  /*margin-top: 9.375rem;
  margin-bottom: 9.375rem;
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;*/
 }

 .section-light {
  padding: 2.399rem 5.875rem 0 5.875rem;

  
  /*padding: 0.630rem;
  margin-top: 1.75rem;
  margin-bottom: 5.49rem;
  ;*/
 }

 .section-production {
  padding: 6.7rem 5.875rem 0 5.875rem;
  /*padding: 0.630rem;
  margin-top: 1.75rem;
  margin-bottom: 9.375rem;*/
 }

 .section-mark {
  padding: 8.3rem 5.875rem 0 5.875rem;
 }

 .section-title {
  font-family: 'Bebas Neue Book';
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 120%;
  color: rgb(41, 45, 51);
  margin-top: 1.5625rem;
  margin-bottom: 2.125rem;
  word-spacing: 6px;
 }

 .steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;

 }

 .steps-item {
  max-width: 20.625rem;
 
 }

 .steps-num {
  font-family: 'Bebas Neue Book';
  color: rgb(92, 142, 230);
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  align-items: center;
 }

 .steps-num:after {
  content: "";
  height: 1px;
  background: rgb(235, 235, 240);
  width: 100%;
  margin-left: 1.875rem;
 }

 .steps-title {
  color: rgb(41, 45, 51);
  font-family: Noto Sans;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 2.3125rem;
  margin-bottom: .625rem;
 }

 .steps-text {
  color: rgb(130, 138, 153);
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: .625rem;
  margin-bottom: 1.25rem;
  letter-spacing: 1.3px;
  word-spacing: -0.99px;
 }

 .steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(92, 142, 230);
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
 }

 .steps-link::before {
  content: "";
  width: 40px;
  height: 1px;
  background: rgb(92, 142, 230);
  margin-right: 1.25rem;
  transition: width 0.2s;
 }

 .steps-link:hover::before {
  width: 60px;
 }

 .steps-buttons {
  display: none;
  height: 40px;
  justify-content: flex-end;
 }

 .steps-button-prev,
 .steps-button-next {
  background: rgb(92, 142, 230);
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 }

 .cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.4rem;
  max-width: 90.625rem;
 }

 .card {
  text-decoration: none;
  flex-basis: 33%;
  position: relative;
   border: 1px solid #ebebf0;
   transition: border 0,2s;
 }

 .card:hover .card-title {
  color: #5c8ee6;
 }

 .card:hover {
  border-color: #5c8ee6;
 }

 .card-content {
  padding: 2.3rem 3.125rem;
 }

.card-title {
color: rgb(41, 45, 51);
font-size: 1.75rem;
font-weight: 400;
line-height: 140%;
margin-top: 0;
margin-bottom: .625rem;
transition: color 0,2s;
}

.card-text {
color: rgb(130, 138, 153);
font-size: 1rem;
font-weight: 400;
line-height: 160%;
margin-bottom: 24.625rem;
}

.card-image {
  min-width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 90%;
}

.cards-mark {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  max-width: 90.625rem;
 }

 .card-mark {
  display: flex;
  flex-direction: flex-start;
  text-decoration: none;
  flex-basis: 50%;
  position: relative;
   border: 1px solid #ebebf0;
   transition: border 0,2s;
 }

 .card-mark:hover .card-mark-title {
  color: #5c8ee6;
 }

 .card-mark:hover {
  border-color: #5c8ee6;
 }


 .card-mark-content {
  padding: 3.1rem 3.1rem 3.1rem 0;
 }

 .card-mark-title {
  color: rgb(41, 45, 51);
  font-size: 1.75rem;
  font-weight: 400;
  text-align: left;
  line-height: 140%;
  margin-top: 0;
  
  transition: color 0,2s;
  }

 .card-mark-text {
  color: rgb(130, 138, 153);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0px;
  }

 .card-mark-image {
  height: 11.25rem;
  width: 11.25rem;
  margin: 3.125rem 3.125rem 3.125rem 3.125rem;
 }

 @media (max-width: 1700px) {
  html {
    font-size: 14px;
  }
  
 }
  /*
 @media (max-width: 1400px) {
  .header-title {
    max-width: 67.5rem;
    font-family: 'Bebas Neue Book';
    font-size: 3.4375rem;
    line-height: 120%;
    margin: 1.375rem 0;
    letter-spacing: 0.8px;
    word-spacing: -1.8px;
   }

   .section-title {
    font-family: 'Bebas Neue Book';
    font-size: 2.5rem;
   }

   .steps {
    flex-wrap: wrap;
   }

  
   .steps-item {
    width: 35%;
   }

   .steps-title {
    font-size: 1.5rem;
   }
 }
*/
 @media (max-width: 1460px) {
  html {
    font-size: 13px;
  }
  .header-logo {
    padding: 2rem;
  }
  logo-svg {
    max-width: 6rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .header-phone {
    margin-right: 2rem;
  }
 }

 @media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 5.8rem;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .slider-buttons {
    display: flex;
 }

 .steps-buttons {
  display: flex;
 }

 .card {
  flex-basis: 50%;
 }
 }

 @media (max-width: 992px) {
html {
  font-size: 12px;
}
.container {
  max-width: 60rem;
}
.header-nav {
  display: none;
}
.header-logo {
  flex-grow: 1;
  justify-content: center;
}
.logo-svg {
  width: 9.75rem;
  height: 3.75rem;
  
}
.mobile-menu-toggle {
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.3rem 2.5rem;;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}
.navbar-light .mobile-menu-line {
  background-color: #333;
}
.mobile-menu-line {
  height: 1px;
  background-color: #fff;
  width: 100%;
  transition: transform 0.2s;
}
.mobile-menu-line:nth-child(2) {
  width: 80%;
}
.navbar-button .button-text {
  display: none;
}
.navbar-button .button-icon {
  display: block;
  fill: #ffffff;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 2;
  background-color: #fff;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.mobile-menu.is-open {
  display: block;
}
.mobile-menu-nav {
  list-style: none;
  padding: 0;
}
.mobile-menu-nav-item {
  margin-bottom: 2rem;
}
.mobile-menu-link {
text-decoration: none;
color: rgb(41, 45, 51);
font-family: Noto Sans;
font-size: 14px;
font-weight: 700;
line-height: 160%;
letter-spacing: 0%;
text-align: left;
}
.mobile-submenu {
  list-style: none;
  padding: 0;
  padding-left: 1rem;
  margin-top: 2rem;
}
.mobile-submenu-link{
  text-decoration: none;
  color: rgb(130, 138, 153);
font-family: Noto Sans;
font-size: 14px;
font-weight: 400;
line-height: 160%;
letter-spacing: 0%;
text-align: left;
}
.mobile-phone {
display: block;
color: rgb(41, 45, 51);
font-family: Noto Sans;
font-size: 20px;
font-weight: 600;
line-height: 160%;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
border-top: 1px solid rgb(235, 235, 240);
padding-top: 2rem;
margin-bottom: 1,5rem;
}
.mobile-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}
.mobile-info-address,
.mobile-info-email {
text-decoration: none;
font-style: normal;
color: rgb(41, 45, 51);
font-family: Noto Sans;
font-size: 14px;
font-weight: 400;
line-height: 160%;
letter-spacing: 0%;
text-align: left;
}

.close-menu .mobile-menu-line:nth-child(2) {
  display: none;
}
.close-menu .mobile-menu-line:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}
.close-menu .mobile-menu-line:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}
 }

 @media (max-width: 768px) {
  .container {
    min-width: 40rem;
  }
  .container-white {
    min-width: 40rem;
  }

  .header-title {
    font-size: 4rem;
    line-height: 120%;
  }
  .header-content {
    padding-top: 3rem;
  }
  .header-features {
    margin-top: 3.8rem;
  }
  .card {
    flex-basis: 100%;
   }
 }

 @media (max-width: 576px) {
  .container {
    min-width: 90%;
  }

  .container-white {
    min-width: 90%;
  }
  .header-content {
    padding-top: 3.95rem;
  }

  .header {
    padding: 5.875rem 1.2rem;
  } 

  .header-text {
      max-width: 45rem;
      font-size: 1.325rem;
      font-weight: 400;
      line-height: 131%;
      margin-bottom: 3rem;
      margin-top: 1.5rem;
      letter-spacing: 0.4px;
  }
  .header-content {
    padding-top: 3.97rem;
  }

  .header-button {
    padding: 1.5rem 7.1rem;
    height: 62px;
    width: 345px;
    font-size: 1.4rem;
  }

 }